.form{
  width: 64.7656vw;
  min-width: 829px;
  gap: 80px;
}

.form__stackControl{
   display: flex;
  border: none;
  padding: 0;
  margin: 0;
  gap: 12px;
  width: 75.9951%;
}

.form__button{
  min-width: auto;
}