.form{
  width: 100%;
  justify-content: center;
  gap: 0;
  margin-block-end: 48px;
}

.form__field{
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.form__field_type_radio{
  gap: 40px;
  align-items: center;
  margin-inline-end: 52px;
}

.form__field_type_button{
margin-inline-end: 80px;
}

.sorting__content{
  min-height: 368px;
  align-items: flex-end;
}